/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.form-group {
	margin-right: -15px;
	margin-left: -15px;
}

.reservation-form {
	margin-right: 15px;
	margin-left: 15px;
}

.time-field{
	margin-right: 40px;
	margin-left: 40px;
}


/*body {
	background-image: asset-url('whiteTexturebackground.png');
	background-attachment: fixed;
	background-position: 100%,100%;
	background-repeat: no-repeat;
}*/

.restaurant-list-header {
	font-family: serif;
}

.successful-login {
	font-family: serif;
}

table{
	background-image: url("whiteTexturebackground.png")
}

#main-table {
	border-radius: 2.5%;
}

#body1   
{
padding: 0 0 40px 0;
    background-color: #fff;
    margin: 0 auto;
    padding: 0;
    line-height: 20px;
    background-attachment: fixed;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("grub-background.png");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10px;
}